.todoitem {
  .toolbar {
    display: flex;
    justify-content: start;
    gap: 1rem;

    .content {
      flex: 1;
    }
  }

  .btn-delete {
    display: none;
  }
}

.form {
  .input {
    line-height: 3rem;
  }
}

.todoitem:hover {
  cursor: pointer;
  .btn-delete {
    display: block;
  }
}
