<mat-toolbar>To do list:</mat-toolbar>
<mat-card class="todocard">
  <form class="form">
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Enter To do"
        class="input"
        name="inputValue"
        [(ngModel)]="inputValue.content"
      />
    </mat-form-field>
    <span class="spacer"></span>
    <button (click)="addNew()" mat-button>Add</button>
  </form>
  <mat-list role="list">
    <mat-toolbar
      *ngFor="let item of todoList | async"
      class="todoitem"
      color="primary"
    >
      <mat-toolbar-row class="toolbar">
        <mat-icon
          (click)="markItemAsDoneUndone(item, false)"
          class="btn material-symbols-outlined"
          *ngIf="item.isDone"
        >
          done
        </mat-icon>
        <mat-icon
          (click)="markItemAsDoneUndone(item, true)"
          class="btn material-symbols-outlined"
          *ngIf="!item.isDone"
        >
          undo
        </mat-icon>
        <span
          class="content"
          [ngClass]="{ 'done-true': item.isDone, 'done-false': !item.isDone }"
          >{{ item.content }}</span
        >
        <mat-icon class="btn-delete material-symbols-outlined">
          <span class="material-symbols-outlined"> delete </span>
        </mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
  <span>Limit: {{list.length}} (Undone: {{undoneNumber}})</span>
</mat-card>
