<mat-toolbar>To do list:</mat-toolbar>
<mat-card class="todocard">
    <form class="example-form">
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Enter To do"
        class="textareafull"
        name="inputValue"
      />
    </mat-form-field>
    <span class="example-spacer"></span>
    <button mat-button>Add</button>
    <button mat-button>Save</button>
  </form>
  <mat-list role="list">
    <mat-toolbar
      *ngFor="let item of todoList | async"
      class="todoitem"
      color="primary"
    >
      <mat-toolbar-row>
        <mat-icon
          (click)="markItemAsNotDone(item)"
          class="btn material-symbols-outlined"
          *ngIf="item.isDone"
        >
          done
        </mat-icon>
        <mat-icon
          (click)="markItemAsDone(item)"
          class="btn material-symbols-outlined"
          *ngIf="!item.isDone"
        >
          undo
        </mat-icon>
        <span
          class="content"
          [ngClass]="{ 'done-true': item.isDone, 'done-false': !item.isDone }"
          >{{ item.content }}</span
        >
        <mat-icon class="btn-delete material-symbols-outlined">
          close
        </mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>

</mat-card>
